.button {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}

.moviePage {
  display: flex;
  margin: 10px;
}

.title {
  margin: 10px;
}

.movieDetails {
  margin: 10px;
}

.list {
  list-style: none;
  margin: 10px;
}

.span {
  display: flex;
  font-weight: bold;
  margin-bottom: 10px;
}

.item {
  display: inline;
  margin-right: 10px;
  justify-content: start;
}

.information {
  padding: 30px;
  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
}

.informationTitle {
  margin-left: 20px;
  margin-bottom: 10px;
}

.informationItem {
  margin-left: 20px;
  margin-bottom: 5px;
}
